@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap&quot");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
.header {
  height: 80px;
  background-color: #03045e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  color: #fff;
}
.logo {
  font-size: 25px;
}
.humburger {
  display: none;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

@media (max-width: 900px) {
  .header {
    padding: 0 3rem;
    position: relative;
  }

  .humburger {
    display: block;
    cursor: pointer;
    font-size: 25px;
    width: 45px;
    height: 45px;
    position: relative;
  }
  .humburger i {
    position: absolute;
    inset: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    opacity: 0;
    transition: 0.3s ease;
  }
  .humburger i.active {
    opacity: 1;
    transform: rotate(180deg);
  }
  .navbar {
    position: absolute;
    background-color: #03045e;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 0 3rem;
    opacity: 0;
    transition: 0.3s ease;
  }
  .navbar.active {
    opacity: 1;
  }
  .navbar ul {
    display: block;
  }

  .navbar ul li {
    margin: 20px 0;
    border-bottom: 1px solid #a4a4a4;
    padding-bottom: 10px;
  }
  .navbar ul li a {
    margin: 0;
  }

  .navbar ul li:last-child {
    border-bottom: none;
  }
}